<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Employees</title>
</head>
<body ng-app="EmployeeMgmt">

    <section ng-controller="EmployeeCtrl">
        <h2>Current Employees</h2>
        <ul ng-repeat="person in employees | orderBy: 'employmentStart'">
            <li ng-if="person.employmentEnd == null">{{ person.firstName}} {{person.lastName}} <button ng-click="fireNow(person)">Fire Employee</button></li>
        </ul>

        <h2>New employee</h2>
        <form ng-submit="newEmployee()">
            First name: <input type="text" ng-model="newFirst">
            Last name: <input type="text" ng-model="newLast">
            <button>Hire employee</button>
        </form>

    </section>

    


    <script src="lib/node_modules/angular/angular.min.js"></script>
    <script src="./app/EmployeeCtrl.js"></script>    
</body>
</html>